*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}
html,body{
    height: 100%;
    width: 100%;
    background-color: #121212;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 3rem;
}
button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #333;
}
button:active{
    background-color: #555;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    height: 300px;
}
.outer{
    background-color: #1f1f1f;
    height: 20px;
    width: 100%;
    border-radius: 10px;
}

.inner{
    background-color: #4caf50;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom h2{
    color: #333;
}

.bottom button{
    background-color: #4caf50;
    color: #fff;
        
}